/*	****************************************
	Demo styles (for demo purposes only)
	**************************************** */
p { margin-top: 0; }

.right {
	float: right;
	margin-left: 15px;
}

.frame {
	border: 1px solid #666;
	padding: 5px;
}

/*	****************************************
	Modules (reusable classes)
	**************************************** */
.container {
	margin: 0 auto;
	width: 95%;
	max-width: 960px; 
}

.content {
	text-align: left;
	overflow: auto;
}

.main-menu {
	background-color: rgba(34,34,34,0.9);
}

.main-menu a {
	margin: 15px;
	padding: 0;
	color: #fff;
}

.main-menu a:hover {
	color: #6bf;
}

/*	****************************************
	State
	**************************************** */
.active > a {
	opacity: .65;
	pointer-events: none;
}